html {
    scroll-behavior: smooth;
}

html, body {
    height: 100%;
}

:root {
    --spacing-1: 8px;
    --spacing-2: 12px;
    --spacing-3: 16px;
    --spacing-4: 24px;
    --border-radius: 12px;
    --font-color: #323232;
}

body {
    background-color: #F2EBE3;
    font-family: "JetBrains Mono", monospace;
    padding: 0;
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    align-items: center;
    padding: 0;

}

.navigation-items {
    display: flex;
    list-style-type: none;
    padding: 0;
    align-items: center;
    margin: 0 0 0 auto;
}

.navigation-item {
    margin: var(--spacing-1);
}

a {
    text-decoration: none;
    color: #000;
    margin: 0 10px;
    font-weight: 600;
}

section {
    padding: var(16px), 0;
}

.about-me-container {
    display: flex;
}

.about-me-text {
    margin-right: auto;
}

.portrait {
    width: 300px;
    height: 400px;
    border-color: black;
    border-radius: 6px;
    flex-shrink: 0;
    object-fit: cover;
}

.project-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: decimal;
}

.skill-images {
    display: flex;
    font-size: 75px;
    justify-content: space-between;
    margin: 0;
}

.info {
    margin-top: auto;
    padding: var(--spacing-2) 0;
    text-align: center;
}